#code-editor { 
        width: 100%;
        height: 700px;
}

ul.packages {
	padding: 0;
	margin: 0;
	margin-left: 0;
	list-style-type: none;
}

ul.packages > li {
	padding: 0;
	margin: 0;
	margin-left: 1em;
	list-style-type: none;
}

#wrapper {
	width: 1600px;
	margin: 0 auto;
}
#viewport {
	padding: 10px;

	border: 1px solid #fff;
}

#canvas-wrapper {

}

#canvas-wrapper {
	position: relative;
}


#canvas-dom {

	position: relative;
}

#canvas {
	position: absolute;
	
}

#canvas-info {
	position: absolute;
	width: 190px;
	background: rgba(0,0,0,0.1);
	color: #eee;

	font-size: 8pt;
	font-family: 'Consolas';

	right: 0;
	top: 0;
}


#goal, #timer, #status {
	margin-left: 0.5em;
	padding: 0.3em;
	border: 1px solid #FEFEFE;
	font-size: 0.8em;
	font-family: 'Consolas';
}
